// app global css in Sass form
.entrance-button
  width: 250px

.login-input
  width: 250px
  font-size: 1.4em

.help-li
  list-style-type: '- '
  margin-left: -2em

.chart
  padding: 2px

.debug
  border: 1px solid red
