// app global css in Sass form
.entrance-button
  width: 250px

.square-button
  border-radius: 0px

.login-input
  width: 250px
  font-size: 1.4em

.big-red-btn-title
  font-size: 1em

.big-red-btn-subtitle
  font-size: 0.3em
  top: 60px

.help-li
  list-style-type: '- '
  margin-left: -2em

.chart
  padding: 2px

.settings-duration
  width: 25px

.debug
  border: 1px solid red
